<div class="row">
    <div class="col-lg-8">
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Título</label>
              <input type="text" class="form-control" id="" placeholder="Título">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Descripción corta</label>
                <input type="text" class="form-control" id="" placeholder="Descripción">
              </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Precio</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Precio">
              </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Tipo de propiedad</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tipo de operación</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Región</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Cuidad</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Comuna</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Descripción</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Seleccione imágenes</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>

              <button type="submit" class="btn btn-primary">Limpiar formulario</button>
              <button type="submit" class="btn btn-primary">Ingresar propiedad</button>

          </form>
    </div>
</div>