<!-- TODO: Boton limpiar -->


<div class="row">
    <div class="col-lg-7 mx-auto my-4">

      <h2 class="mb-5 font-rojo text-center"><i class="fas fa-home"></i> Ingresar Propiedad</h2>
       
          <form>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Título</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" placeholder="Título">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Descripción corta</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" placeholder="Descripción corta">
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Precio</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" placeholder="Precio">
              </div>
            </div>
          
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlSelect1">Tipo de propiedad</label>
              <div class="col-sm-9">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlSelect1">Tipo de operación</label>
              <div class="col-sm-9">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlSelect1">Región</label>
              <div class="col-sm-9">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlSelect1">Provincia</label>
              <div class="col-sm-9">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlSelect1">Comuna</label>
              <div class="col-sm-9">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="exampleFormControlTextarea1">Descripción</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
          
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="exampleFormControlFile1">Seleccione imágenes</label>
            <div class="col-sm-9">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
          </div>
          
      
          <div class="form-group row ">
              <span class="col-sm-2"> </span>
              <button type="submit" class="col-sm-3 btn btn-verde2 mt-4">Limpiar formulario</button>
              <span class="col-sm-2"> </span>
              <button type="submit" class="col-sm-3 btn btn-verde2 mt-4">Ingresar propiedad</button>
              <span class="col-sm-2"> </span>
          </div>

        </form>
    </div>
</div>