<div class="row container-fluid">
    <div class="col-lg-4 mx-auto mt-5">

        <form   autocomplete="off"
                [formGroup]="loginForm"
                (ngSubmit)="login()"
                id="loginform">
            <div class="card border-verde2 rounded-0">
                <div class="card-header p-0">
                    <div class="text-white text-center py-2 bg-verde2">
                        <img class="m-2" src="../../../assets/img/logoCN.png" width="130" >
                        <p class="m-0">INICIAR SESIÓN</p>
                    </div>
                </div>

                <div class="card-body p-3">                    
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user "></i></div>
                            </div>
                            <input type="email" class="form-control" id="usuario" formControlName="email" placeholder="Correo electrónico">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-lock"></i></div>
                            </div>
                            <input type="password" class="form-control" id="pass" formControlName="password" placeholder="Contraseña" required>
                        </div>
                    </div> 
                    
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="remember">
                        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Entrar" class="btn btn-verde2 btn-block rounded-0 py-2">
                    </div>
                </div>
        
            </div>
        </form>
    </div>
</div>