<div id="home" class="mt-3">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class=" carousel-item active">
          <img src="../assets/img/1407.jpg" class="d-block w-100" alt=".5.." height="450">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/17920.jpg" class="d-block w-100" alt="..6." height="450">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/7151.jpg" class="d-block w-100" alt=".8.." height="450">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
  
  <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/17920.jpg" class="d-block w-100" alt="..." height="500">
      </div>
      <div class="carousel-item">
        <img src="../assets/img/7151.jpg" class="d-block w-100" alt="..." height="500">
      </div>
      <div class="carousel-item">
        <img src="../assets/img/1407.jpg " class="d-block w-100" alt="..." height="500">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->
  
  <div id="fafa" class="container-fluid mt-5">
    <h3 class="mb-4">Publicaciones recientes</h3>
    <!-- <div class="row">
      
        <div *ngFor="let propiedad of propiedades" class="card col-md-4 p-1 m-1">
          <img src="../assets/img/card.jpg" class="card-img-top" alt="...">
          <h5 class="card-title principalcolorfont"><span class="font-verde2">{{ propiedad.titulo }}</span></h5>
          <div class="card-body">
            <h5 class="card-title principalcolorfont">{{ propiedad.desc_corta }}</h5>
            <p class="card-text font-italic">{{ propiedad.comuna }}</p>
            <p class="card-text "> {{ propiedad.descripcion }}</p>
            <p class="text-right">$ {{ propiedad.precio}}</p>
          </div>
        </div>

    </div> -->

    <div class="row row-cols-1 row-cols-md-3 animated fadeIn fast">
    
      <div class="col mb-4" *ngFor="let propiedad of propiedades;" >
        <div class="card">

          <div class="card-header">
            <h5 class="card-title principalcolorfont font-verde2 uppercase">{{ propiedad.titulo }}</h5>
          </div>

            <img src= class="card-img-top"> 

          <div class="card-body">
            <p class="card-text h5 font-verde1">{{ propiedad.desc_corta }}</p>
            <p class="card-text font-italic">{{ propiedad.comuna }}</p>
            <p class="card-text "> {{ propiedad.descripcion }}</p>
            <p class="text-right"> <span class="font-rojo">${{ propiedad.precio | number }}</span></p>
            <!-- <div class="card-footer text-center">
                {{ propiedad._id }}
                <button  (click)="modal(propiedad._id)"
                         type="button" 
                         class="btn btn-verde2" 
                         data-toggle="modal" 
                         data-target="#exampleModal">
                    Ver más
                </button>
            </div> -->
          </div>
        </div>
      </div>

    </div>


    <p class="text-right font-italic">
      <a routerLink="/propiedades" class="btn btn-outline-success">Ir al buscador de propiedades</a>

    </p>

  </div>
