<div class="row">
    <div class="col-lg-7 mx-auto my-4">
        <h2 class="mb-5 font-rojo text-center"><i class="fas fa-tasks"></i> Gestionar Propiedad</h2>
    </div>
</div>


<div class="row">
    <div class="col-lg-11 mx-auto my-4">


    
      <p class="text-right">Total de propiedades: {{ totalPropiedades }} </p>
      <table class="table">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let propiedad of propiedades;let indice=index">
            <td>{{ indice+1 }}</td>
            <td>{{ propiedad.titulo }}</td>
            <td>{{ propiedad.tipo_oper }}</td>
            <td>{{ propiedad.tipo_prop }}</td>
            <td>${{ propiedad.precio | number }}</td>
            <td>{{ propiedad.comuna }}</td>
            <td>{{ propiedad.desc_corta }}</td>
            <td>
              <div class="row">
                <a class="col-6 text-center" href=""><i class="far fa-edit font-verde1"></i></a>
                <a class="col-6 text-center" (click)="elPropiedad(propiedad)" style="cursor: pointer;" ><i class="far fa-trash-alt font-rojo"></i></a>
              </div>
              

              
            </td>
          </tr>
        </tbody>
      </table>


      <div class="row mt-4 align-items-center">
        <span class="col-sm-2"> </span>
        <button (click)="CambiarPagina(-1)" type="submit" class="col-sm-3 btn btn-verde2"><i class="fas fa-angle-left"></i> Anterior</button>
        <span class="col-sm-2 text-center font-rojo" style="font-weight: 900;">{{ page }} de {{ totalPaginas }} </span>
        <button (click)="CambiarPagina(1)" type="submit" class="col-sm-3 btn btn-verde2">Siguiente <i class="fas fa-angle-right"></i></button>
        <span class="col-sm-2"> </span>
      </div>
          
    </div>
</div>


  