

<nav class="navbar navbar-expand-lg navbar-dark sticky-top nav-bg">
    <a class="navbar-brand" routerLink="/inicio">
      <img src="../assets/img/logoCN.png" height="70" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/propiedades" routerLinkActive="active">Propiedades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  
  
  
  
  <router-outlet></router-outlet>
  
  
  
  
  <footer class="footer bg-gris py-5 mt-4">
      <div class="row container-fluid">
        
        <div class="col-sm-9">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <hr>
          <a routerLink="/login">Panel de administración</a>
        </div>
  
        <div class="col-sm-2">
          <ul class="list-unstyled font-blanca">
            <li class="media mt-1 text-center">
              <i class="h5 fab fa-facebook-square"></i><span class="h6 ml-2">BLABLABLA</span>
            </li> 
            <li class="media mt-1 text-center">
              <i class="h5 fab fa-instagram"></i><span class="h6 ml-2">@BLABLABLA</span>
            </li>
            <li class="media mt-1 text-center">
              <i class="h5 fas fa-at"></i><span class="h6 ml-2">blablabla@bla.cl</span>
            </li>
          </ul>
        </div>
  
      </div>
  </footer>