@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




.nav-bg {
    background-color: #336330 !important;
}


.dropdown-menu {
    background-color: #336330f1;
}

.dropdown-menu>a {
    color: #8cb29a !important;
    border-bottom: 3px solid transparent !important;

}

.dropdown-menu>a:hover{
    background-color: transparent !important;
    color: white !important;
    border-bottom: 3px solid #ed4634 !important;
}

