
<nav class="navbar navbar-expand-lg navbar-dark sticky-top nav-bg">
  <a class="navbar-brand" routerLink="/panel-administracion">
    <img src="../assets/img/logoCN.png" height="40" class="d-inline-block align-top" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="#">Ingresar usuario</a>
          <a class="dropdown-item" routerLink="#">Gestionar usuarios</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Propiedades
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/panel-administracion/ingresarp">Ingresar propiedad</a>
          <a class="dropdown-item" routerLink="/panel-administracion/gestionarp">Gestionar propiedades</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Página web</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Correo electrónico</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Visitas</a>
      </li>
    </ul>

    <ul class="navbar-nav text-right mt-2 mt-lg-0">
      <li class="nav-item">
        <button type="button" class="btn btn-rojo" (click)="logout()">CERRAR SESIÓN</button>
      </li>
  </ul>

  </div>
</nav>






<router-outlet></router-outlet>



