@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.principalcolorfont >a {
    color: rgb(23, 61, 33) !important;
}

.pointer {
    cursor: pointer;
}

/* FUENTES */
/* color*/
.font-blanco {
    color: seashell;
}
.font-rojo {
    color: #ed4634;
}
.font-verde1 {
    color: #336330f1;
}
.font-verde2 {
    color: #1f585a;
}
.font-gris {
    color: #9d9987;
}
.uppercase {
        text-transform: uppercase;
}

/* FONDOS */
.bg-rojo {
    background-color: #ed4634;
}
.bg-verde1 {
    background-color: #336330f1;
}
.bg-verde2 {
    background-color: #1f585a;
}
.bg-gris {
    background-color: #9d9987;
}

/* BORDES */
/* color */
.border-verde2 {
    border-color:#1f585a!important;
}

/* BOTONES */
.btn-verde2 {
    background-color: #1f585a;
    color: white;
}
.btn-verde2:hover {
    background-color: #054749;
    color: white;
}


.btn-rojo {
    background-color: #ed4634;
    color: white;
}
.btn-rojo:hover {
    background-color: #9b2f23;
    color: white;
}



.principalcolor {
    background-color: #336330f1 !important;
    color: #9d9987 !important;
}


.nav-item>a{
    color: #336330f1;
    font-family: 'Roboto', sans-serif !important;
    /* rgba(53, 189, 71, 0.808) */
    border-bottom: 3px solid transparent !important;
  }
  
  
.active{
    color: #84b554 !important;
}
    
.nav-item>a:hover{
    color: #ffffff;
    border-bottom: 3px solid #ed4634 !important;

    /* background-color:#28a745;
    border-radius: 15px 15px 15px 15px;
    border-bottom: none !important; */
}
.recortecarousel {
    width: 100% !important;
    height: 450px !important;
    overflow: hidden !important;
}

.nav-bg {
    background-color: #336330f1 !important;
}

.search-bg {
    background-color: #9d9987;
    /* rgba(196, 196, 196, 0.918) */
    border-radius: 15px 15px 15px 15px;
}

.form-bg {
    border: 1px outset #1cb135;
    border-radius: 7px 7px 7px 7px;
    padding: 5px;
    box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.486);

}

.btn-search {
    background-color: rgba(29, 29, 29, 0.952);
    color: seashell;
}
.btn-search:hover {
    background-color: rgba(19, 18, 18, 0.952);
    color: seashell;
}

.recortecarousel img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
}



.font-blanca {
    color: snow;
}

.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}